[submodule "lib/RadioLib"]
	path = lib/RadioLib
	url = https://github.com/rfquack/RadioLib
[submodule "doxygen/doxygen-awesome"]
	path = doxygen/doxygen-awesome
	url = https://github.com/jothepro/doxygen-awesome-css.git
