# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# PlatformIO
.pio*
.piolibdeps
.clang_complete
.gcc-flags.json

# Python
__pycache__/*
*.pyc

# Protobuf
src/*.pb.c
src/*.pb.h
src/client/rfquack/*_pb2.py

# Secrets
src/client/configs/*
**/*credentials*

# OS
.DS_Store
TODO
.vscode/*
*.swp

# Default main
src/main.cpp
src/main.ino

# Doxygen output
docs/reference
